<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos VueJs</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<h1>VUE BÁSICO</h1>
<ol>
    <li>
        <b>Ejemplo de filtros</b>
        <div id="div-6" v-cloak>
            <input type="range" min="0" max="10" v-model="puntuacion">
            <ul>
                <li v-for="(pelicula, index, c) in mostrarMinimaPuntuacion" v-bind:key="index">
                    {{index}} - {{pelicula}}
                </li>
            </ul>
            <input type="text" v-model="buscarComunidad" placeholder="Nombre de comunidad">
            <ul>
                <li v-for="(c, index, k) in filtroComunidades" v-bind:key="index">
                    ({{c}})..... Reverse .....{{c | Reverse }}<br> ({{c}})..... Mayusculas .....{{c | Mayusculas }}
                </li>
            </ul>
        </div>
    </li>

</ol>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="index.js"></script>
</body>
</html>